#octopus {
  margin: auto;
  display: block;
  z-index: -1;
  padding-top: 75px;

}

#glasses {
  margin: auto;
  display: block;
  z-index: 1;
  position: relative;
  top: -190px;


}

#hat {
  margin: auto;
  display: block;
  z-index: 2;
  position: relative;
  top: -420px;

}